.Estante {
  margin: 0 auto;
  width: 98vw;
  height: auto;
  position: relative;
  top: 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.BookShelfGeneric {
  width: 962px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px;
}